<aside class="navbar-aside" id="offcanvas_aside">
  <div class="aside-top">
    <!-- <a href="index.html" class="brand-wrap">
        <img
          src="/assets/imgs/theme/logo.svg"
          class="logo"
          alt="Nest Dashboard"
        />
      </a> -->
    <a class="navbar-brand" href="/" style="font-size: 28px"
      ><img
        style="width: 175px"
        src="/logo/FreshPick-removebg-preview.png"
        alt=""
    /></a>
    <div>
      <button class="btn btn-icon btn-aside-minimize">
        <i class="text-muted material-icons md-menu_open"></i>
      </button>
    </div>
  </div>
  <nav>
    <ul class="menu-aside">
      <li class="menu-item active">
        <a class="menu-link" href="/admin/dashboard">
          <i class="icon material-icons md-home"></i>
          <span class="text">Dashboard</span>
        </a>
      </li>
      <li class="menu-item has-submenu">
        <a class="menu-link" href="page-products-list.html">
          <i class="icon material-icons md-shopping_bag"></i>
          <span class="text">Products</span>
        </a>
        <div class="submenu">
          <a href="/admin/viewProduct">Product List</a>
          <a href="/admin/addProduct">Add product </a>
        </div>
      </li>
      <li class="menu-item has-submenu">
        <a class="menu-link" href="page-Users-cards.html">
          <i class="icon material-icons md-store"></i>
          <span class="text">Users</span>
        </a>
        <div class="submenu">
          <a href="/admin/usersList">Users list</a>
        </div>
      </li>
      <li class="menu-item">
        <a class="menu-link" href="/admin/viewCategory">
          <i class="icon material-icons md-stars"></i>
          <span class="text">Categories</span>
        </a>
      </li>
      <li class="menu-item has-submenu">
        <a class="menu-link" href="page-orders-1.html">
          <i class="icon material-icons md-shopping_cart"></i>
          <span class="text">Orders</span>
        </a>
        <div class="submenu">
          <a href="/admin/orderList">Order list 1</a>
        </div>
      </li>
      <li class="menu-item has-submenu">
        <a class="menu-link" href="page-orders-1.html">
          <i class="icon material-icons md-comment"></i>
          <span class="text">Banners</span>
        </a>
        <div class="submenu">
          <a href="/admin/bannerList">Banners list</a>
          <a href="/admin/addBanner">Add Banner</a>
        </div>
      </li>
      <li class="menu-item has-submenu">
        <a class="menu-link" href="page-orders-1.html">
          <i class="icon material-icons md-local_offer"></i>
          <span class="text">Coupons</span>
        </a>
        <div class="submenu">
          <a href="/admin/couponList">Coupon List</a>
          <a href="/admin/addCoupon">Add Coupons</a>
        </div>
      </li>
    </ul>
    <hr />
  </nav>
</aside>
