<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fresh Pick</title>
  
  <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="css/open-iconic-bootstrap.min.css">
  <link rel="stylesheet" href="css/animate.css">
  
  <link rel="stylesheet" href="css/owl.carousel.min.css">
  <link rel="stylesheet" href="css/owl.theme.default.min.css">
  <link rel="stylesheet" href="css/magnific-popup.css">

  <link rel="stylesheet" href="css/aos.css">
  <link rel="shortcut icon" type="image/x-icon" href="/assets/imgs/theme/favicon.svg" />
  <link rel="stylesheet" href="css/ionicons.min.css">

  <link rel="stylesheet" href="css/bootstrap-datepicker.css">
  <link rel="stylesheet" href="css/jquery.timepicker.css">

  
  <link rel="stylesheet" href="css/flaticon.css">
  <link rel="stylesheet" href="css/icomoon.css">
  <link rel="stylesheet" href="css/style.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

  <style>
    /* Decorated links for Home and Shop */
    .decorated-link {
      position: relative;
      color: #333; /* Set the link text color */
      text-decoration: none;
      transition: color 0.3s ease;
      padding-right: 10px; /* Adjust this value to add spacing between text and decoration */
    }
  
    .decorated-link:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 2px; /* Adjust this value to change the decoration line's height */
      background-color: #ff8c00; /* Set the decoration line color */
      transition: width 0.3s ease;
    }
  
    .decorated-link:hover {
      color: #ff8c00; /* Set the link text color on hover */
    }
  
    .decorated-link:hover:before {
      width: 100%;
    }
  </style>
  
  

</head>
<body class="goto-here">